<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Auth-login.css">
</head>
<body>
    <div class="bigcontainer">
        <!-- left part of view port -->
        <div class="leftcontainer">
            <div class="container">
                <!-- Page Heading -->
                <div id="Appname" class="heading">
                    <h2>App Name</h2>
                </div>
                <div class="text">
                    <p>Some Text</p>
                </div>
                <!-- Input Boxes  -->
                 <div class="boxes">
                    <input class="Email" placeholder="Email" type="text">
                 
                    <input class="Email" placeholder="Password" type="password">
                    
                    <a id="login" href="##"><button id="button" >Log in</button></a>
                    
                 </div>
                
                <!-- forgot and sign up  -->
                <a id="forgot" href="#">forgot Password</a>
                <br>
                <p id="lastpara">Do not have a account yet?
                    <a href="##">Sign in</a></p>
                
        
        
            </div>
        </div>

        <!-- Right part of viewport -->
        
    </div>
    
</body>
</html>